//
//
// Created by PhpStorm.
// User: pascal
// Date: 2019-07-16
// Time: 17:54
//

@font-face {
  font-family: "wubba_regular";
  src: url("~@/assets/fonts/wubbalubbadubdub-webfont.woff2") format("woff2"),
    url("~@/assets/fonts/wubbalubbadubdub-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
